In [1]:
import pandas as pd

In [4]:
df_1 = pd.read_csv('turnstile_190706.txt')
df_2 = pd.read_csv('turnstile_190713.txt')
df_3 = pd.read_csv('turnstile_190720.txt')
df_4 = pd.read_csv('turnstile_190727.txt')
df_5 = pd.read_csv('turnstile_190803.txt')
df_6 = pd.read_csv('turnstile_190810.txt')
df_7 = pd.read_csv('turnstile_190817.txt')
df_8 = pd.read_csv('turnstile_190824.txt')
df_9 = pd.read_csv('turnstile_190831.txt')

In [12]:
combined_df = df_1.append(df_2).\
                    append(df_3).\
                    append(df_4).\
                    append(df_5).\
                    append(df_6).\
                    append(df_7).\
                    append(df_8).\
                    append(df_9)

In [10]:
combined_df.describe

<bound method NDFrame.describe of           C/A  UNIT       SCP        STATION LINENAME DIVISION        DATE  \
0        A002  R051  02-00-00          59 ST  NQR456W      BMT  06/29/2019
1        A002  R051  02-00-00          59 ST  NQR456W      BMT  06/29/2019
2        A002  R051  02-00-00          59 ST  NQR456W      BMT  06/29/2019
3        A002  R051  02-00-00          59 ST  NQR456W      BMT  06/29/2019
4        A002  R051  02-00-00          59 ST  NQR456W      BMT  06/29/2019
...       ...   ...       ...            ...      ...      ...         ...
205258  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  08/30/2019
205259  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  08/30/2019
205260  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  08/30/2019
205261  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  08/30/2019
205262  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  08/30/2019

            TIME     DESC  ENTRIES  \
0       00:00:00  REGULAR  7116734
1       08:00:00  REGULAR  7116770
2       12:00:00  REGULAR  7116856
3       16:00:00  REGULAR  7117076
4       20:00:00  REGULAR  7117340
...          ...      ...      ...
205258  05:00:00  REGULAR     5554
205259  09:00:00  REGULAR     5554
205260  13:00:00  REGULAR     5554
205261  17:00:00  REGULAR     5554
205262  21:00:00  REGULAR     5554

        EXITS
0                                                 2410183
1                                                 2410218
2                                                 2410288
3                                                 2410346
4                                                 2410387
...                                                   ...
205258                                                389
205259                                                389
205260                                                389
205261                                                389
205262                                                389

[1866240 rows x 11 columns]>

In [14]:
# this path will need to be changed
#combined_df.to_csv('combined_data.csv')