In [2]:
import pandas as pd

In [3]:
df_1 = pd.read_csv('turnstile_190706.txt')
df_2 = pd.read_csv('turnstile_190713.txt')
df_3 = pd.read_csv('turnstile_190720.txt')
df_4 = pd.read_csv('turnstile_190727.txt')
df_5 = pd.read_csv('turnstile_190803.txt')
df_6 = pd.read_csv('turnstile_190810.txt')
df_7 = pd.read_csv('turnstile_190817.txt')
df_8 = pd.read_csv('turnstile_190824.txt')
df_9 = pd.read_csv('turnstile_190831.txt')

In [4]:
combined_df = df_1.append(df_2).\
                    append(df_3).\
                    append(df_4).\
                    append(df_5).\
                    append(df_6).\
                    append(df_7).\
                    append(df_8).\
                    append(df_9)

In [5]:
combined_df.describe

<bound method NDFrame.describe of           C/A  UNIT       SCP        STATION LINENAME DIVISION        DATE  \
0        A002  R051  02-00-00          59 ST  NQR456W      BMT  06/29/2019
1        A002  R051  02-00-00          59 ST  NQR456W      BMT  06/29/2019
2        A002  R051  02-00-00          59 ST  NQR456W      BMT  06/29/2019
3        A002  R051  02-00-00          59 ST  NQR456W      BMT  06/29/2019
4        A002  R051  02-00-00          59 ST  NQR456W      BMT  06/29/2019
...       ...   ...       ...            ...      ...      ...         ...
205258  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  08/30/2019
205259  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  08/30/2019
205260  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  08/30/2019
205261  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  08/30/2019
205262  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  08/30/2019

            TIME     DESC  ENTRIES  \
0       00:00:00  REGULAR  7116734
1       08:00:00  REGULAR  7116770
2       12:00:00  REGULAR  7116856
3       16:00:00  REGULAR  7117076
4       20:00:00  REGULAR  7117340
...          ...      ...      ...
205258  05:00:00  REGULAR     5554
205259  09:00:00  REGULAR     5554
205260  13:00:00  REGULAR     5554
205261  17:00:00  REGULAR     5554
205262  21:00:00  REGULAR     5554

        EXITS
0                                                 2410183
1                                                 2410218
2                                                 2410288
3                                                 2410346
4                                                 2410387
...                                                   ...
205258                                                389
205259                                                389
205260                                                389
205261                                                389
205262                                                389

[1866240 rows x 11 columns]>

In [14]:
# this path will need to be changed
#combined_df.to_csv('combined_data.csv')

In [8]:
combined_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [11]:
combined_df.columns = combined_df.columns.str.strip()

In [12]:
combined_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [24]:
group_by_station = combined_df.groupby('STATION')

In [28]:
sorted_by_entry_exit = group_by_station.sort_values('ENTRY')

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'

In [41]:
combined_df.sample(20)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
190409,R532,R328,00-06-01,METS-WILLETS PT,7,IRT,08/07/2019,21:00:00,REGULAR,33638135,44463
187236,R508,R346,00-05-01,COURT SQ,7,IRT,06/30/2019,04:00:00,REGULAR,3,465
186969,R516,R291,00-00-00,33 ST-RAWSON ST,7,IRT,07/29/2019,16:00:00,REGULAR,7999079,12567192
161435,R240,R047,00-03-07,GRD CNTRL-42 ST,4567S,IRT,07/23/2019,21:00:00,REGULAR,8381937,2348816
113422,N606,R025,00-05-01,JAMAICA CENTER,EJZ,IND,07/05/2019,20:00:00,REGULAR,0,1355
100876,N509,R203,00-00-01,23 ST,FM,IND,07/02/2019,12:00:00,REGULAR,6465226,3095501
200614,R632,R067,00-00-03,PENNSYLVANIA AV,3,IRT,08/05/2019,16:00:00,REGULAR,1185132,231312
153526,R204,R043,02-00-00,WALL ST,45,IRT,07/05/2019,08:35:23,REGULAR,2203279,4890121
151529,R197,R117,00-00-02,V.CORTLANDT PK,1,IRT,06/29/2019,08:00:00,REGULAR,15021588,4645428
178559,R413,R325,00-00-00,WHITLOCK AV,6,IRT,08/25/2019,16:00:00,REGULAR,341703,2136271
160573,R240,R047,00-03-02,GRD CNTRL-42 ST,4567S,IRT,08/20/2019,01:00:00,REGULAR,109837,130177
173231,R316,R407,00-00-01,INTERVALE AV,25,IRT,08/25/2019,13:00:00,REGULAR,262374,200525
137718,R138,R293,00-02-05,34 ST-PENN STA,123ACE,IRT,07/26/2019,02:00:00,REGULAR,329794,367151
43584,N002A,R173,00-00-00,INWOOD-207 ST,A,IND,07/08/2019,05:00:00,REGULAR,6612710,3852873
122795,PTH12,R542,00-00-00,TWENTY THIRD ST,1,PTH,07/02/2019,16:28:42,REGULAR,17122,648
31747,H003,R163,01-06-00,6 AV,FLM123,BMT,07/07/2019,20:00:00,REGULAR,120146,54330
49076,N043,R186,00-03-00,86 ST,BC,IND,06/30/2019,08:00:00,REGULAR,5087,26468
149473,R200A,R041,01-00-01,BOWLING GREEN,45,IRT,08/03/2019,16:00:00,REGULAR,3955098,1248482
37115,H041,R152,00-06-00,CANARSIE-ROCKAW,L,BMT,07/02/2019,17:00:00,REGULAR,33686065,17471
166437,R258,R132,00-03-00,125 ST,456,IRT,08/24/2019,21:00:00,REGULAR,69042661,69114709

In [73]:
court_sq_station_6_30 = (combined_df.STATION == 'COURT SQ') \
& (combined_df.DATE == '06/30/2019') \
& (combined_df.UNIT == 'R346') \
& (combined_df.SCP == '00-00-00')

In [74]:
combined_df[court_sq_station_6_30]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
186941,R508,R346,00-00-00,COURT SQ,7,IRT,06/30/2019,00:00:00,REGULAR,3071950,4456940
186942,R508,R346,00-00-00,COURT SQ,7,IRT,06/30/2019,04:00:00,REGULAR,3071969,4456951
186943,R508,R346,00-00-00,COURT SQ,7,IRT,06/30/2019,08:00:00,REGULAR,3071982,4457038
186944,R508,R346,00-00-00,COURT SQ,7,IRT,06/30/2019,12:00:00,REGULAR,3072098,4457163
186945,R508,R346,00-00-00,COURT SQ,7,IRT,06/30/2019,16:00:00,REGULAR,3072261,4457312
186946,R508,R346,00-00-00,COURT SQ,7,IRT,06/30/2019,20:00:00,REGULAR,3072405,4457415

In [43]:
combined_df['DATE'].dtypes

dtype('O')

In [38]:
combined_df['TIME'].dtypes

dtype('O')

In [40]:
combined_df.dtypes

C/A         object
UNIT        object
SCP         object
STATION     object
LINENAME    object
DIVISION    object
DATE        object
TIME        object
DESC        object
ENTRIES      int64
EXITS        int64
dtype: object